<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stickapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4C46AA41CBA532200344E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C46AB81CBA532200344E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C46AC31CBA532200344E86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
